<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script type="text/javascript">
    function GiveResults() {
        var num = parseFloat(document.getElementById("cash").value);
        var from = document.getElementById("from").value;
        var to = document.getElementById("to").value;

        if (((from=== "USD") && (to=== "USD")) || ((from=== "EUR") && (to=== "EUR")) || ((from=== "RUB") && (to=== "RUB"))) {
            document.getElementById("answer").innerHTML="Результат "+num;
        }
        if ((from=== "USD") && (to=== "RUB")) {
            document.getElementById("answer").innerHTML="Результат "+num*{{ cur_value[0] }};
        }
        if ((from=== "RUB") && (to=== "USD")) {
            document.getElementById("answer").innerHTML="Результат "+num/{{ cur_value[0] }};
        }
        if ((from=== "EUR") && (to=== "RUB")) {
            document.getElementById("answer").innerHTML="Результат "+num*{{ cur_value[1] }};
        }
        if ((from=== "RUB") && (to=== "EUR")) {
            document.getElementById("answer").innerHTML="Результат "+num/{{ cur_value[1] }};
        }
        if ((from=== "USD") && (to=== "EUR")) {
            document.getElementById("answer").innerHTML="Результат "+(num*{{ cur_value[0] }})/{{ cur_value[1] }};
        }
        if ((from=== "EUR") && (to=== "USD")) {
            document.getElementById("answer").innerHTML="Результат "+(num*{{ cur_value[1] }})/{{ cur_value[0] }};
        }


    }
    </script>
</head>

<body>

<label>Выберите исходную валюту:</label>
    <select id="from">
        <option value="USD" selected="selected">Доллар США</option>
        <option value="EUR">Евро</option>
        <option value="RUB">Рубль</option>
    </select><br/>
<label>Введите сумму: </label>
    <input id="cash" type="text"/>
      <br/>
<label>Выберите расчетную валюту: </label>
     <select id="to" >
        <option value="USD">Доллар США</option>
        <option value="EUR" selected="selected">Евро</option>
        <option value="RUB">Рубль</option>
     </select>
    <button onclick='GiveResults();'>Вычислить</button>
    <br/>
<h2 id="answer"></h2>





</body>
</html>
